.Section6 {
    grid-area: Section6;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 126.6rem) minmax(2rem, 1fr);
    grid-template-rows: 50rem 15.5rem;
    grid-template-areas:
        'map map map'
        '. footer .';
        
    &__Map {
        grid-area: map;
        display: grid;
        grid-template-columns: minmax(2rem, 1fr) minmax(0, 126.6rem) minmax(2rem, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: '. container .';
        background: url('../assets/section6-map.jpg');
        background-position: center;
        background-size: cover;

        &-container {
            grid-area: container;
            display: grid;
            grid-template-columns: 55% 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: '. overlay';

            &-overlay {
                grid-area: overlay;
                background: rgba(#2b2b2b, .9);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-loc {
                    height: max-content;
                    margin: 2rem 0;
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2.8rem;
                        margin-right: 1rem;
                    }

                    p {
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        font-family: 'Gotham Pro Regular';
                    }
                }
            }
        }
    }

    &__Footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        
        a,
        a:focus,
        a:visited {
            font-size: 1.4rem;
            line-height: 1.4rem;
            margin: 0rem 3rem 0 3rem;
            color: white;
            font-family: 'Gotham Pro Regular';
        }

        img:nth-child(3),
        img:nth-child(4),
        img:nth-child(5) {
            opacity: .3;
            margin-right: 3rem;
        }

        img:nth-child(3) {
            height: 1.6rem;
            width: 2.7rem;
        }

        img:nth-child(4) {
            height: 2.8rem;
            width: 1.6rem;
        }

        img:nth-child(5) {
            height: 1.9rem;
            width: 2.7rem;
        }

        span {
            font-size: 1.4rem;
            line-height: 1;
            font-family: 'Gotham Pro Regular';
            margin-left: auto;
        }
    }
}